<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.childhoodmemories.webgames"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 往SDCard写入数据权限 -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- 在SDCard中创建与删除文件权限 -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.childhoodmemories.webgames.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.childhoodmemories.webgames.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.childhoodmemories.webgames.GameSquareActivity"
            android:label="@string/title_activity_game_square" >
        </activity>
        <activity
            android:name="com.childhoodmemories.webgames.GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.childhoodmemories.webgames.test.message.DownloadProgressBarActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.childhoodmemories.webgames.test.asynctask.DownloadAsyncTaskActivity"
            android:label="@string/title_activity_download_async_task" >
        </activity>
        <activity
            android:name="com.childhoodmemories.webgames.GuidePageOneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome_page_one"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.childhoodmemories.webgames.GuidePageTwoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome_page_two"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.childhoodmemories.webgames.GuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_guide"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>